<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'app/img/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/toolkit-inverse.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
    <script>

        APP = {};
        APP.staticFolder = '{% static 'app/' %}';
        console.log(APP.staticFolder);
        APP.user = '{{ user }}';
        console.log(APP.user);
        APP.emailIndividual = '{{ email }}';
        console.log(APP.emailIndividual);
        APP.emailInstitution = APP.emailIndividual.match(/\@(.*)/i)[1];
        console.log(APP.emailInstitution);
        APP.name = '{{ name }}';
        console.log(APP.name);

    </script> 
</head>

<body>
    {{ STATIC_URL }}

    {% block content %}{% endblock %}

    {#<script src='{% static 'app/js/jquery-1.10.2.min.js' %}'></script>#}

    {% block scripts %}{% endblock %}

    <script src='{% static 'app/js/index.bundle.js' %}'></script>
</body>
</html>
